# Auto detect text files and perform LF normalization
* text=auto

# Specify text files that should explicitly have LF line endings
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.txt text eol=lf

# Explicitly declare binary files you want to leave untouched
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
